<!-- Dashboard -->
<div id="page-container" class="container dashboard-container" ng-controller="Dashboard">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">{{user.team}}</p>
            <blockquote>
                <small>{{user.team_description}}</small>
            </blockquote>
            <button class="btn btn-primary" ng-click="newProject.add=true">Create Project</button>
            <div class="project-list list-group">
                <div class="input-group list-group-item" ng-show="newProject.add" ng-class="{'has-error':newProject.inValid}">
                    <input ng-keyup="keyEnter(addNewProject, newProject, $event)" class="form-control" type="text" name="newProject" ng-model="newProject.title" placeholder="New Project" required="required"/>
                    <a href="#" ng-click="addNewProject(newProject)"><span class="glyphicon glyphicon-ok"></span></a> 
                    <a href="#" ng-click="newProject.add=false"><span class="glyphicon glyphicon-ban-circle"></span></a>
                </div>
                <a href="#" class="list-group-item" ng-repeat="project in projects | orderBy: '-date_created'" >{{project.title}}</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="project in projects | orderBy:'-date_created'">
                    <div class="thumbnail">
                        <img src="img/hard.jpg" alt="">
                        <div class="caption">
                            <a href="#" class="pull-right" data-toggle="modal" data-target="#mod-project" ng-click="editProject(project)"><span class="glyphicon glyphicon-pencil greywolves"></span></a>
                            <h4><a href="#">{{project.title}}</a>
                            </h4>
                            <blockquote>
                                <p>{{project.description}}</p>
                                <small>Date Created: {{project.date_created}}</small>
                            </blockquote>
                        </div>
                        <div class="ratings">
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

<!-- Modal Project -->
    <div id="mod-project" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="content-section-b">

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-sm-3">
                                    <hr class="section-heading-spacer">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">{{activeProject.title}}</h2>
                                    <p class="lead"><span class="text-info">Legend:</span><br/>
                                    <span class="glyphicon glyphicon-pencil text-muted"></span> - Edit<br/>
                                    <span class="glyphicon glyphicon-ok text-muted"></span> - Update<br/>
                                    <span class="glyphicon glyphicon-ban-circle text-muted"></span> - Cancel<br/>
                                    </p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 col-sm-9">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td><h6>Project</h6></td>
                                                <td>
                                                    <div ng-hide="project__title">
                                                        <h6>
                                                            <span>{{activeProject.title}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(activeProject, projectNew, 'project__title')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="project__title">
                                                        <div class="form-group" ng-class="{'has-error':project__title_invalid}">
                                                            <input class="form-control" type="text" ng-model="projectNew.title" ng-keyup="keyEnter(fieldEditUpdate, [activeProject, projectNew, 'project__title',{action:'projectUpdate', pid:activeProject.pid}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(activeProject, projectNew, 'project__title',{action:'projectUpdate', pid:activeProject.pid})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('project__title')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><h6>Description</h6></td>
                                                <td>
                                                    <div ng-hide="project__description">
                                                        <h6>
                                                            <span>{{activeProject.description}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(activeProject, projectNew, 'project__description')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="project__description">
                                                        <div class="form-group" ng-class="{'has-error':project__description_invalid}">
                                                            <input class="form-control" type="text" ng-model="projectNew.description" ng-keyup="keyEnter(fieldEditUpdate, [activeProject, projectNew, 'project__description',{action:'projectUpdate', pid:activeProject.pid}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(activeProject, projectNew, 'project__description',{action:'projectUpdate', pid:activeProject.pid})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('project__description')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.content-section-b -->

                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Project -->

<!-- Modal Account -->
    <div id="mod-account" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="content-section-b">

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2 col-sm-3">
                                    <hr class="section-heading-spacer">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">My Profile</h2>
                                    <p class="lead"><span class="text-info">Legend:</span><br/>
                                    <span class="glyphicon glyphicon-pencil text-muted"></span> - Edit<br/>
                                    <span class="glyphicon glyphicon-ok text-muted"></span> - Update<br/>
                                    <span class="glyphicon glyphicon-ban-circle text-muted"></span> - Cancel<br/>
                                    </p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 col-sm-9">
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td><h6>Team</h6></td>
                                                <td>
                                                    <div ng-hide="user__team">
                                                        <h6>
                                                            <span>{{user.team}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__team')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__team">
                                                        <div class="form-group" ng-class="{'has-error':user__team_invalid}">
                                                            <input class="form-control" type="text" ng-model="userNew.team" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__team',{action:'teamUpdate'}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__team',{action:'teamUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__team')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td><h6>About the team</h6></td>
                                                <td>
                                                    <div ng-hide="user__team_description">
                                                        <h6>
                                                            <span>{{user.team_description}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__team_description')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__team_description">
                                                        <div class="form-group" ng-class="{'has-error':user__team_description_invalid}">
                                                            <input class="form-control" type="text" ng-model="userNew.team_description" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__team_description',{action:'teamUpdate'}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__team_description',{action:'teamUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__team_description')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td><h6>Email</h6></td>
                                                <td>
                                                    <div ng-hide="user__email">
                                                        <h6>
                                                            <span>{{user.email}}</span> <a href="#" title="Edit" ng-hide="true"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__email')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__email">
                                                        <div class="form-group"  ng-class="{'has-error':user__email_invalid = !uEmail.$valid}">
                                                            <input ng-form="uEmail" class="form-control" type="email" ng-model="userNew.email" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__email',{action:'userUpdate'}], $event)" required="required"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__email',{action:'userUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__email')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td><h6>First Name</h6></td>
                                                <td>
                                                    <div ng-hide="user__fname">
                                                        <h6>
                                                            <span>{{user.fname}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__fname')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__fname">
                                                        <div class="form-group" ng-class="{'has-error':user__fname_invalid}">
                                                            <input class="form-control" type="text" ng-model="userNew.fname" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__fname',{action:'userUpdate'}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__fname',{action:'userUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__fname')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td><h6>Last Name</h6></td>
                                                <td>
                                                    <div ng-hide="user__lname">
                                                        <h6>
                                                            <span>{{user.lname}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__lname')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__lname">
                                                        <div class="form-group" ng-class="{'has-error':user__lname_invalid}">
                                                            <input class="form-control" type="text" ng-model="userNew.lname" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__lname',{action:'userUpdate'}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__lname',{action:'userUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__lname')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr><tr>
                                                <td><h6>Position</h6></td>
                                                <td>
                                                    <div ng-hide="user__title">
                                                        <h6>
                                                            <span>{{user.title}}</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__title')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__title">
                                                        <div class="form-group" ng-class="{'has-error':user__title_invalid}">
                                                            <input class="form-control" type="text" ng-model="userNew.title" ng-keyup="keyEnter(fieldEditUpdate, [user, userNew, 'user__title',{action:'userUpdate'}], $event)"/>
                                                            <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="fieldEditUpdate(user, userNew, 'user__title',{action:'userUpdate'})"></span></a>
                                                            <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__title')"></span></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><h6>Change password</h6></td>
                                                <td>
                                                    <div ng-hide="user__pass">
                                                        <h6>
                                                            <span>*********</span> <a href="#" title="Edit"><span class="glyphicon glyphicon-pencil" ng-click="fieldEdit(user, userNew, 'user__pass')"></span></a>
                                                        </h6>
                                                    </div>
                                                    <div ng-show="user__pass">
                                                        <pre>{{user | json}}</pre>
                                                        <form name="frmPass">
                                                            <div class="form-group" ng-class="{'has-error':user__pass_invalid||user__newpass_invalid||frmPass.newcpass.$error.passmatch||frmPass.newcpass.$error.passlen}">
                                                                Current Password:
                                                                <input class="form-control" type="password" ng-model="userNew.pass" ng-keyup="keyEnter(fieldPassEditUpdate, [user, userNew, 'user__pass',{action:'userUpdate'}], $event)"/>
                                                                <p class="text-danger" ng-show="user__pass_invalid">Invalid current password.</p>
                                                                <p class="text-danger" ng-show="user__newpass_invalid||frmPass.newcpass.$error.passmatch||frmPass.newcpass.$error.passlen">New and confirm new password is invalid.</p>
                                                            </div>
                                                            <div class="form-group" ng-class="{'has-error':frmPass.newcpass.$error.passlen||!frmPass.newpass.$valid&&!frmPass.newpass.$pristine}">
                                                                New Password:
                                                                <input required="required" name="newpass" class="form-control" type="password" ng-model="userNew.pass1" ng-keyup="user__newpass_invalid=false; keyEnter(fieldPassEditUpdate, [user, userNew, 'user__pass',{action:'userUpdate'}], $event)"/>
                                                                <p class="text-danger" ng-show="frmPass.newcpass.$error.passlen">Password should have at least 4 charaters.</p>
                                                            </div>
                                                            <div class="form-group" ng-class="{'has-error':frmPass.newcpass.$error.passmatch||!frmPass.newcpass.$valid&&!frmPass.newcpass.$pristine}">
                                                                Confirm Password:
                                                                <input required="required" name="newcpass" pass-check="newpass" class="form-control" type="password" ng-model="userNew.pass2" ng-keyup="user__newpass_invalid=false; keyEnter(fieldPassEditUpdate, [user, userNew, 'user__pass',{action:'userUpdate'}], $event)"/>
                                                                <p class="text-danger" ng-show="frmPass.newcpass.$error.passmatch">Confirm password did not match.</p>
                                                                <a href="#" title="Update"><span class="glyphicon glyphicon-ok" ng-click="user__newpass_invalid=frmPass.newcpass.$error.passmatch||frmPass.newcpass.$error.passlen||!frmPass.$valid; fieldPassEditUpdate(user, userNew, 'user__pass',{action:'passUpdate'})"></span></a>
                                                                <a href="#" title="Cancel"><span class="glyphicon glyphicon-ban-circle" ng-click="fieldEditCancel('user__pass')"></span></a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.container -->
                    </div>
                    <!-- /.content-section-b -->

                    
                    <!--TODO <pre>{{ user | json }}</pre>-->
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Account -->

</div>
<!--/Dashboard -->