#page-container{
	margin-top: 60px;
	height: 100%;
}

.modal-dialog{
	width: 100%;

	.modal-body{
			padding: 0px;
	}

	button.close{
		margin-right: 15px;
	    font-size: 57px;
	    font-weight: normal;
	}
}
button:focus{
	outline: 0;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    .vertical-align-center {
	    /* To center vertically */
	    display: table-cell;
	    vertical-align: middle;
	    pointer-events:none;
	}
	.modal-content {
	    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	    width:inherit;
	    height:inherit;
	    /* To center horizontally */
	    margin: 0 auto;
	    pointer-events: all;
	}
}

/*Dashboard*/
body{

    dashboard{

        width: 100%;
        float: left;
        background-color: #fff;

        .dashboard-container{
			table.table{
				tr > td:nth-child(1){
					width: 111px;
					h6{
						color: #999;
					}
				}
				tr > td:nth-child(2) a > span{
					margin-right: 6px;
		    		color: #999;
		    		font-size: 84%;	
				}
			}
		}

    }
}
